[Unit]
Description=Warming daemon

[Service]
Type=idle
User=heater
WorkingDirectory=/usr/share/perl5
ExecStart=/usr/bin/perl Warmer.pm

RestartSec=5s
Restart=always

PrivateTmp=yes
