[Unit]
Description=Heater relay control daemon

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/heater

RestartSec=5s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
